.search-div{
	text-align: center;
	height: 260px;
	background: rgb(0,92,217);
	background: radial-gradient(circle, rgba(0,92,217,0.6306897759103641) 0%, rgba(92,92,92,1) 0%, rgba(50,50,50,1) 100%, rgba(50,50,50,1) 100%);
}